<div class="second-container">
	<h2>Thank you for your request. </h2>

	<p>During term time we <span>try</span> to respond to everyone within 24 hours to discuss the enrollment, suitable classes and timetable
	</p>

	<%= link_to "To Home Page", root_path, :class => "btn btn-primary btn-lg" %>
</div>