<div class="second-container">
	<h1>ACADEMIC YEAR 2015 – 2016</h1>
	<p> Ballet clubs are open to children from the named academic school only.</p>
	
	<p>*Indicates  an  exam  class. Children  are  expected  to  come  twice  a  week  if  wanting  to  take  a  ballet  exam </p>	
	<hr>
	<h3>MONDAY</h3>	
	<h4>SOUTH KENSINGTON STUDIO</h4>
	<h5>Fitness First - Harrington Road, SW7</h5>
	<ul>
		<li>3.50 — 4.45 Grade 2 Level 2 Exam Class (CM1/ CM2)</li>
		<li>4.50 — 5.50 Grade 4 Level 1 (CM2/ 6e)</li>
	</ul>
	<h4>WENDY BELL</h4>
	<h5>Mission Hall Downstairs - Parsons Green Lane (corner of St Dionis Road)</h5>
	<ul>
		<li>4.00 — 4.40 Introduction (2 & 3 years old)</li>
		<li>4.45 — 5.45 Grade 2 Level 2  Exam  Class  *</li>
	</ul>
	<h4>WENDY BELL</h4>
	<h5>Mission Hall Upstairs - Parsons Green Lane (corner of St Dionis Road)</h5>
	<ul>
		<li>4.00 — 4.45 Pre‐primary (4 & 5  years  old)</li>
		<li>4.55 — 5.50 Grade 2 Level 1 (8+ years old)</li>
		<li>    5.55 — 6.55 Grade 4 (*)</li>
		<li>6.55 — 8.00 Grade 7 (*)</li>
	</ul>
	

	<hr>
	<h3>TUESDAY</h3>
	<h4>ECOLE  DES  PETITS</h4> 
	<h5>Wandsworth/Battersea</h5>
	<ul>
		<li>Tuesday</li>
		<li>Wednesday </li>
		<li>Thursday</li>
	</ul>
	<p>Classes under the responsibility of Pascale Chambon </p>
	<h4>TADPOLE NURSERY</h4>
	<h5>Park  Walk, Chelsea</h5>
	<p>                   Classes under the responsibility of Chloé Bergeret </p>
	<h4>WENDY BELL</h4> 
	<h5>Mission Hall Upstairs - Parsons Green Lane (corner of St Dionis Road)</h5>
	<ul>
		<li>3.45 — 4.25 Primary (5&6years old)</li>
		<li>4.30 — 5.10 Grade 1 level 1 (7 years old)</li>
		<li>5.15 — 6.10 Grade 3 Level 2 (*)</li>
		<li>6.15 — 7.15 Intermediate Foundation</li>
		<li>7.15 — 8.15 Grade 6</li>
	</ul>
	<h4>BOUSFIELD SCHOOL</h4>
	<h5>South  Bolton  Gardens, Chelsea</h5>
	<ul>
		<li>3.50 — 4.30 Introduction (3 & 4 years old) 3.40 — 4.30 Pre‐Primary (4 &  5  years  old) </li>
		<li>4.30 — 5.15 Grade 1 (7 years old) 4.30 — 5.15 Primary (6 years old)</li>
		<li>5.15 — 6.00 Grade 2 5.15 — 6.00 Grade 3</li>
	</ul>
	

	<hr>
	<h3>WEDNESDAY</h3>
	<h4>ECOLE JACQUES PREVERT</h4>
	<h5>Brook Green,Hammersmith</h5>
	<p>    Classes under the responsibility of Pascale Chambon</p>

	<h4>SOUTH KENSINGTON STUDIO</h4> 
	<h5>Yoga Centre - 10 Kendrick Mews - Studio  1  (Chloé)</h5>
	<ul>
		<li>2.45 — 3.30 Introduction  (Mat ernelles and  new  pupils  in  CP)</li>
		<li>3.45 — 4.30 Modern Jazz HipHop 1</li>
		<li>4.40 — 5.35 Grade  3  Level  2</li>
	</ul>
	<h4>FULHAM PREP LOWER SCHOOL</h4>
	<h5>Fulham Palace Road, Fulham</h5>
	<p>Ballet and tap classes under the responsibility of Clotilde Bortz</p>
	<ul>
		<li>3.30 — 4.45 Year 1 and 2</li>
	</ul>
	<h4>THE   ORATORY (Ballet   Club Only)</h4>
	<h5>Bury Walk,  Chelsea</h5>
	<ul>
		<li>3.45 — 4.30 Infant Year R, 1</li>
		<li>4.30 — 5.15 Junior , Year  2, Year  3</li>
	</ul>


	<hr>
	<h3>THURSDAY</h3>
	<h4>OUR  LADY OF  VICTORIES (Ballet Club Only)</h4>
	<h5>South  Kensington</h5>
	<ul>
		<li>1.00 — 2.00 Nursery</li>
		<li>3.30 — 4.10 Year R</li>
		<li>4.10 — 4.50 Year 1 , Year  2  & above</li>
	</ul>

	<h4>REDCLIFFE  SCHOOL (Ballet Club Only)
	<h5>Redcliffe    Gardens, Chelsea</h5>

	<p>Robins: Monday Morning 10 am</p>
	<ul>
		<li>3.30 — 4.10 Kingfishers, Skylarks</li>
		<li>4.10 — 4.50 Bronte Coleridge</li>
	</ul>
	

	<h4>WENDY BELL</h4>
	<h5> Mission Hall Upstairs - Parsons Green Lane (corner of St Dionis Road)</h5>
	<ul>
		<li>5.30 — 6.15       Grade 4 coaching class for examinations</li>
		<li>6.15 — 7.30 Intermediate Foundation</li>
		<li>7.30 — 8.30 Grade 8</li>
	</ul>


	<hr>
	<h3>FRIDAY</h3>

	<h4>SOUTH KENSINGTON STUDIO</h4>
	<h5>Fitness First - Harrington Road, SW7</h5>
	<ul>
		<li>4.30 — 5.30 Intermediate Foundation level 1</li>
		<li>5.30  –  6.30         Intermediate  Foundation  level  2  (Exam  Class)</li>
		<li>6.30 – 7.30 Grade 6</li>
	</ul>

	<hr>
	<h3>SATURDAY</h3>

	<h4>CHELSEA THEATRE</h4>
	<h5>Worlds End Place, Kings Road</h5>
	<ul>
		<li>9.30 — 10.30 Grade 3  level  2  (Chloé) </li>
		<li>9.30 — 10.30 Grade 4  level  2  (Blandine) </li>
		<li>9.45 — 10.30    Grade  2  Exam   (Clotilde)</li>
		<li>10.30 — 11.40 Inter Foundation Exam (Pascale/Chloé)</li>
		<li>10.45 — 11.40 Grade 4  level  1 (Blandine) </li>
		<li>10.30 — 11.25 Hip Hop B (Clotilde)</li>
		<li>11.45 — 12.55 Inter Foundation Level 1 (Chloé) </li>
		<li>11.45 — 12.55 Grade  6   (Pascale/Blandine) </li>
		<li>11.50 — 12.45 Hip Hop Senior (Clotilde)</li>
	</ul>
</div>